name: Excavator (Auto-Update)

on:
  schedule:
    - cron: '0 */12 * * *'
  workflow_dispatch:

jobs:
  excavate:
    name: Excavate
    runs-on: windows-latest
    permissions:
      contents: write
    steps:
      - name: Checkout bucket
        uses: actions/checkout@v4

      - name: Install Scoop
        shell: powershell
        run: |
          Set-ExecutionPolicy RemoteSigned -Scope CurrentUser -Force
          Invoke-RestMethod -Uri https://get.scoop.sh | Invoke-Expression
          echo "$env:USERPROFILE\scoop\shims" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append

      - name: Checkout Scoop scripts
        uses: actions/checkout@v4
        with:
          repository: ScoopInstaller/Main
          path: scoop-main

      - name: Update manifests
        shell: powershell
        run: |
          $files = Get-ChildItem ".\bucket\*.json"
          foreach ($file in $files) {
              Write-Host "Checking $($file.Name)"
              .\scoop-main\bin\checkver.ps1 $file.FullName -u
          }

      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "Auto-update StarRailCopilot"
          file_pattern: "bucket/*.json"